body{
  background-image: url(https://myradar.com/static/background-a089d87ba11e1a4c45a8efa960b86092.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
    
  
h1{
    color: white;
    text-align: center;
    padding:5px;
    font-size: 55px;
 }
  
 #content {
    width: 550px;
    height: 550px;
    margin:auto;
    margin-top: 10px;
    border-radius: 100%;
    background: rgb(247,246,255);
    background: radial-gradient(circle, rgba(247,246,255,1) 10%, rgba(188,172,237,1) 32%, rgba(13,6,102,1) 57%);
    box-shadow: 1px 5px 60px 30px #534da4;  
}



  #user_question {
    width: 300px;
    height: 80px;
    margin:auto;
    margin-top: 200px;
    margin-left: 100px;
    background:rgba( 255, 255, 255, .1);
    box-shadow: 1px 5px 60px 10px #b454e0;
    font-size: 20px;
    display:inline-block;
    position:relative;
    
}
  
  #button {
    width: 50px;
    height:85px;
    position: absolute;
    margin-top: 200px;
    background-color: black;
    color:rgb(182, 85, 93);
 }


#text_question {
    color:white;
    font-size: 20px;
    font-family:cursive;
    margin-left: 130px;
    padding-top:30px;
}

#text_question2 {
    color:white;
    font-size: 20px;
    font-family:cursive;
    margin-left: 130px;    
}

#ballImage {
    background-image: url("img/empty.png");
    background-repeat: none;
    background-size: cover;
    color: rgb(182, 85, 93);
    width: 550px;
    height: 550px;
    margin: auto;
    margin-top: 10px;
    border-radius: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding:30px;
  }
  
  #answer {
    font-size: 35px;
  }